build/
dist/
simpcamcap.egg-info/
simpcamcap/debug/
simpcamcap/saved_model/
__pycache__/
test.py
[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9]/

package-lock.json
*.gif

*.onnx
*.tflite
*.npy
*.txt
*.engine
*.profile
node_modules/

.act.secrets
.act.env